<!-- views/contacts/index.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %> <!-- 1 -->
  </head>
  <body>
    <%- include('../partials/nav') %> <!-- 2 -->
    <div class="contact contact-index">
      <h2>Index</h2>
      <ul>
        <% rows.forEach((item,i) { %> <!-- 3 -->
          <li>
            <%= JSON.stringify(item); %>
          </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
