
<!-- views/contacts/index.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %> <!-- 1 -->
  </head>
  <body>
    <%- include('../partials/nav') %> <!-- 2 -->
    <div class="contact contact-index">
      <h2>Index</h2>
        <% for(var i =0; i < 10; i++) =>{ %>
          <h1><%= i %></h1>
        <% }); %>
    </div>
  </body>
</html>
